<section class="card-container">

  <section class="card-header">
    <h1 class="subtext" style="font-size: 24px; margin: 0px 10px;">{{headerName}}</h1>
  </section>

  <br>

  <div class="text-container">
    <p class="subtext-add"
       style="
              font-size: 24px;
              color: #7E7B7B;
              text-align: justify;
              padding: 0px 15px;"
    >
      En base a la cantidad de población del estado de Northern Mariana Islands que es de 1.000.000 el cual tuvo un acumulado de 475.000 casos confirmados de Covid-19 a la fecha DD/MM/YYYY, esto equivalió al 47.5%.
    </p>
  </div>

  <br>

</section>
