<section class="card-container">

  <section class="card-header">
    <h1 class="subtext" style="margin: 0px 10px;">{{headerName}}</h1>
  </section>

  <br>

  <div class="text-container">
    <p class="subtext-add"
       style="
              color: #7E7B7B;
              text-align: justify;
              padding: 0px 15px;"
    >
      En base a la cantidad de población del estado de {{nameState}} que es de {{populati}} el cual
      tuvo un acumulado de {{accumul}} casos confirmados de muertes por Covid-19 , esto equivalió al
      {{maxValueString}}% siendo el estado más afectado en EE.UU.
    </p>
  </div>

  <br>

</section>
