<section class="login-background">

  <section class="form-box">
    <p class="qualification">Login</p>

    <br>
    <br>

    <div class="queued-content">

      <img class="icon-size" src="../../../assets/icon/person_black_24dp 1.svg" alt="user representation">
      <input class="user-input" type="text" placeholder="Usuario">

    </div>

    <br>
    <br>

    <div class="queued-content">

      <img class="icon-size" src="../../../assets/icon/lock_black_24dp 1.svg" alt="password representation">
      <input class="user-input" type="password" placeholder="Contraseña">

    </div>

    <br>
    <br>
    <br>


    <button class="generic-button">Iniciar Sesión</button>
  </section>

</section>
