<section class="card-container">

  <section class="card-header">
    <h1 class="subtext" style="margin: 0px 10px;">{{headerName}}</h1>
  </section>

  <br>
  <form [formGroup]="formGroup">
    <select class="generic-input" formControlName="stateSelection" (change)="selectionEvent()">
      <option value="">Estado</option>
      <option *ngFor="let state of stateList" [value]="state">{{state}}</option>
    </select>
  </form>

  <canvas  id="MyChart" width="400" height="400" >{{ chart }}</canvas>

  <br>

</section>
