
<section class="card-container">

  <section class="card-header">
    <h1 class="subtext" style="font-size: 24px; margin: 0px 10px;">{{headerName}}</h1>
  </section>

  <br>

  <input type="date" class="generic-input">

  <br>

  <div class="text-container">
    <h2 class="subtext-add" style="font-size: 24px; margin: 0px 5px 0px 0px;">Estado:</h2>
    <p class="subtext-add" style="font-size: 24px; color: #7E7B7B;">Northern Mariana Islands</p>
  </div>

  <div class="text-container">
    <h2 class="subtext-add" style="font-size: 24px; margin: 0px 5px 0px 0px;">Acumulado:</h2>
    <p class="subtext-add" style="font-size: 24px; color: #7E7B7B;">1.000.000</p>
    <img [src]="iconPath" alt="covid-19 virus illustration">
  </div>

  <br>

</section>
