<app-headboard [headerTitle]="'Muerte por covi-19 en EE.UU'"></app-headboard>

<section class="default-background" style="justify-content: unset;">

  <section class="accumulated-and-affected-content">

    <div class="cumulative-content">
      <app-accumulated-card [headerName]="'Mayor Acumulado'" [iconPath]="'../../../assets/icon/coronavirus 1.svg'"></app-accumulated-card>

      <app-accumulated-card [headerName]="'Menor Acumulado'" [iconPath]="'../../../assets/icon/coronavirus 2.svg'"></app-accumulated-card>
    </div>

    <app-most-affected-card [headerName]="'Más Afectado'"></app-most-affected-card>

  </section>

  <app-deaths-vs-total-population-card [headerName]="'% Muertes VS posblacion'"></app-deaths-vs-total-population-card>

  <br>
  <br>
  <br>

</section>
